<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000"/>
    <title>CRUD</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="serviceWorker" src="{{ url_for('static', filename='service.js') }}"></link>

</head>
<body>

    <h1>CRUD</h1></br></br>
    <a href="/cadastro"><button type="button">Cadastrar</button></a></br>
    <a href="/exibir"><button type="button">Exibir Dados</button></a></br>
    <a href="/atualizar"><button type="button">Atualizar Dados</button></a></br>
    <a href="/deletar"><button type="button">Deletar Dados</button></a>


</body>
</html>